<div
  class="container-fluid position-relative hero-container px-0"
  id="mainHeader"
>
  <div class="p-5 mb-4 hero-image">
    <div class="container-fluid py-5 hero-text text-center">
      <h1 class="display-1 fw-bold">Igreja Batista Independiente Floripa</h1>
      <p class="col-12 col-lg-4 fs-4 mx-auto">
        <cite
          >porque eu estou com você. Ninguém poderá lhe fazer nenhum mal, pois
          muitas pessoas desta cidade são minhas.Atos 18:10 NTLH</cite
        >
      </p>
      <button class="btn btn-lg btn-primary" type="button">Saiba Mais</button>
    </div>
  </div>
</div>

<script>
  window.onscroll = function () {
    console.log(1);
    changeMainHeaderBgColor();
  };

  var header = document.getElementById("mainHeader");
  var sticky = header.offsetTop;

  function changeMainHeaderBgColor() {
    if (window.pageYOffset > sticky) {
      header.classList.add("position-fixed-navbar");
      document.body.classList.add("padding-top-for-position-fixed-navbar");
    } else {
      header.classList.remove("position-fixed-navbar");
      document.body.classList.remove("padding-top-for-position-fixed-navbar");
    }
  }
</script>
