<div
  class="container-fluid position-relative hero-container px-0"
  id="mainHeader"
>
  <div class="p-5 mb-4 hero-image">
    <div class="container-fluid py-5 hero-text text-center">
      <h1 class="display-1 ">Igreja Batista Independiente Floripa</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!--<p class="col-12 col-lg-4 fs-4 mx-auto">
        <cite
          >Porque eu estou com você. Ninguém poderá lhe fazer nenhum mal, pois
          muitas pessoas desta cidade são minhas.<br />Atos 18:10 NTLH</cite
        >
      </p>
      <a class="btn btn-lg btn-primary" href="#about-us">Saiba Mais</a>-->
    </div>
  </div>
</div>
