<!--<div class="container-fluid position-relative hero-container px-0" id="mainHeader">
  <div class="p-5 mb-4 hero-image">
    <div class="container-fluid py-5 hero-text text-center">
      <h1 class="display-1 ">Igreja Batista Independiente Floripa</h1>
      <p class="col-12 col-lg-4 fs-4 mx-auto">
        <cite
          >Porque eu estou com você. Ninguém poderá lhe fazer nenhum mal, pois
          muitas pessoas desta cidade são minhas.<br />Atos 18:10 NTLH</cite
        >
      </p>
      <a class="btn btn-lg btn-primary" href="#about-us">Saiba Mais</a>
    </div>
  </div>
</div>-->
<div class="container-fluid position-relative hero-container px-0 p-5" id="mainHeader">
<!--  <img src="assets/decoration-star.svg" class="position-top-left">
  <img src="assets/decoration-star.svg" class="position-top-right">-->
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 d-flex flex-column align-self-center pe-4 text-center">
        <h1 class="bd-title">Igreja Batista Floripa</h1>
        <p class="bd-lead">Porque eu estou com você. Ninguém poderá lhe fazer nenhum mal, pois muitas pessoas desta cidade são minhas.<br />Atos 18:10 NTLH</p>
      </div>
      <div class="col-12 col-md-6">
        <img src="assets/aniversary.png" class="rounded-bottom-circle img-fluid"/>
      </div>
      <div class="col-12 col-md-6">
        <a class="btn btn-lg bd-btn-lg btn-bd-primary d-flex align-items-center justify-content-center fw-semibold">
          <svg class="bi me-2" aria-hidden="true"><use xlink:href="#box-seam"></use></svg>
          Culto en vivo
        </a>
      </div>
    </div>
  </div>
</div>
