<!--<div class="container-fluid" id="mainHeader">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/landing">
          <img
            src="/assets/logo.jpg"
            alt="Bootstrap"
            width="40"
            height="40"
            class="rounded"
          />
          IBI Floripa
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="news">Anuncios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="songs">Musicas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="meditation">Meditação</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>-->
<router-outlet ></router-outlet>
<app-footer />
