<div class="container-fuild section-highlight my-5 py-5">
  <div class="container marketing">
    <div class="row">
      <div class="col-12">
        <h2 class="py-5 border-bottom display-2">Declaração de fé</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>
          <strong><span> 1. CREMOS</span></strong
          ><span class="textosgerais12"
            >&nbsp;na Bíblia como Palavra de Deus, escrita por homens
            vocacionados e preparados por Deus, os quais sob inspiração do
            Espírito Santo expressaram a mensagem divina, que pode ser
            transmitida a povos de qualquer raça e cultura;</span
          >
        </p>
        <p align="justify">
          <span
            ><strong>2. CREMOS</strong>&nbsp;num só Deus Triúno (Pai, Filho e
            Espírito Santo), criador de todas as coisas, governador do universo,
            o qual é justo e amoroso para com todos;</span
          >
        </p>
        <p align="justify">
          <span
            ><strong>3. CREMOS</strong>&nbsp;que o ser humano foi criado à
            imagem e semelhança de Deus, mas desobedeceu a Deus, tornando-se
            pecador, pelo que a imagem de Deus nele foi mutilada;</span
          >
        </p>
        <p align="justify">
          <span
            ><strong>4. CREMOS</strong>&nbsp;que Deus enviou seu Filho Jesus
            Cristo a este mundo como Salvador, o qual se tornou em corpo físico,
            semelhante ao homem, morreu na cruz e ressuscitou fisicamente e
            ordenou aos seus discípulos que pregassem o seu Evangelho a toda
            criatura. Tendo sido Ele assunto ao céu, à direita de Deus Pai, há
            de voltar para estabelecimento do reino de Deus e julgamento do
            mundo;</span
          >
        </p>
        <p align="justify">
          <span
            ><strong>5. CREMOS</strong>&nbsp;que o ser humano só pode ser
            perdoado e salvo do pecado e de suas conseqüências eternas, crendo
            na obra expiatória de Jesus Cristo na cruz, mediante o
            arrependimento por obra do Espírito Santo nele;</span
          >
        </p>
        <p align="justify">
          <span
            ><strong>6. CREMOS</strong>&nbsp;que a salvação é pela graça de
            Deus, sem méritos da parte do ser humano. Todavia, a salvação pela
            graça se traduz em obras do bem praticadas pelo cristão;</span
          >
        </p>
        <p align="justify">
          <span
            ><strong>7. CREMOS</strong>&nbsp;que a Igreja, instituída por Jesus
            Cristo, e composta de pessoas convertidas e batizadas conforme a
            ordenança do Senhor, tem a tarefa de proclamar as boas novas para a
            salvação do homem pecador, anunciar e mostrar a prática de justiça
            entre os homens, denunciando toda sorte de iniqüidade individual e
            social, assim como toda a sorte de opressão que degrada o
            homem;</span
          >
        </p>
        <p align="justify">
          <span
            ><strong>8. CREMOS</strong> que o verdadeiro crente recebe a unção
            do Espírito Santo, que o santifica e capacita com os dons
            específicos para exercer o serviço divino entre os seres humanos;
            cremos, também, que o batismo no Espírito Santo é uma experiência
            definida, sendo uma operação do Espírito distinta da obra de
            regeneração;</span
          >
        </p>
        <p align="justify">
          <span
            ><strong>9. CREMOS</strong>&nbsp;que a manifestação plena do Reino
            de Deus só se dará com a intervenção divina pela vinda pessoal de
            Cristo a este mundo;</span
          >
        </p>
        <p align="justify">
          <span
            ><strong>10. CREMOS</strong>&nbsp;na ressurreição dos mortos e no
            estado final e eterno dos salvos junto a Deus, e na separação
            daqueles que obstinadamente permanecerem na prática do mal.</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
