<app-header></app-header>
<app-hero></app-hero>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 my-3">
      <img class="img-fluid rounded" src="/assets/culto.png" />
    </div>
    <!-- <div class="col-4 text-center">
      <img
        class="img-fluid rounded"
        src="/assets/pg.png"
        style="max-height: calc(50vh - 66px)"
      />
    </div> -->
    <div class="col-12 col-lg-6 my-3">
      <app-mapa></app-mapa>
    </div>
  </div>
</div>
<page-about-us id="about-us"></page-about-us>
<page-fe id="page-fe"></page-fe>
<page-history id="page-history"></page-history>
