<div class="container marketing">
  <div class="col-12">
    <h2 class="display-2">Nossa História</h2>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="wpb_wrapper">
        <p>
          As Igrejas Batistas Independentes no Brasil têm sua origem no trabalho
          da Missão de Örebro, Suécia, com a chegada do missionário Erik Jansson
          em 1912. Era a resposta ao veemente apelo de colonos suecos residentes
          no município de Guarani das Missões, RS.
        </p>
        <p>
          <strong
            >A história das Igrejas Batistas Independentes pode ser dividida em
            quatro fases:</strong
          >
        </p>
        <p>
          <strong>1) Pioneira</strong><br />
          Desde a chegada de Erik Jansson e outros missionários suecos que
          desenvolveram seu trabalho na região de Guarani das Missões (RS)
          implantando igrejas e escolas;
        </p>
        <p>
          <strong>2) Missões Nacionais e Além das Fronteiras</strong><br />
          Com a organização da Convenção das Igrejas Batistas Independentes em
          1952, frentes missionárias foram abertas em quase todos os estados da
          federação. Além disso, o trabalho se expandiu dos anos 80 para o
          Paraguai, Peru e Portugal
        </p>
        <p>
          <strong>3) Evangelização Nacional</strong><br />
          Além dos missionários suecos, Deus começou a vocacionar obreiros
          nacionais. Neste período, grande parte das cidades maiores do Rio
          Grande do Sul foram alcançadas
        </p>
        <p>
          <strong>4) Reestruturação</strong><br />
          A partir de 1988 foram organizadas as Convenções Regionais. Através
          delas, são atendidas as necessidades de cada região
        </p>
        <blockquote>
          <p>
            <em
              >O Nome Independente não se originou de uma divisão, mas da união
              de várias igrejas “independentes” e que desejavam manter-se
              autônomas quanto ao seu sistema administrativo, estabelecendo-se
              como vínculo dessa união, o manual princípios de nossa fé</em
            >
          </p>
        </blockquote>
        <h1 style="text-align: center"><strong>Nossas Origens</strong></h1>
        <h2><strong>A Missão de Örebro</strong></h2>
        <p>
          Em 1845, nasceu na Suécia John Ongman , filho de gente humilde mas
          trazendo de berço o grande e nobre ideal de servir a causa de Deus no
          mundo.
        </p>
        <p>
          Aos dezenove anos, teve uma gloriosa experiência de salvação,
          convertendo-se ao Senhor e sendo batizado num buraco aberto no gelo,
          no dia 4 de março de 1864, numa aldeia ao norte da Suécia.
        </p>
        <p>
          Chamado por Deus para obra missionária, depois de ter servido como
          pastor em sua terra natal e entre os imigrantes suecos na América do
          Norte, o Rev. John Ongman fundou e organizou a Örebro Missionsforening
          com a finalidade de enviar missionários para evangelização de terras
          estrangeiras, ligando assim, o seu nome ao dos pioneiros das missões
          modernas.
        </p>
        <p>
          A Missão de Örebro nasce com a finalidade de somar forças a favor da
          evangelização pátria e do trabalho transcultural. Várias igrejas
          locais, pertencentes à Convenção Batista Sueca, se unem neste esforço
          e dão apoio às iniciativas de Ongman. A cooperação entre estas igrejas
          se concretizava em várias áreas, como o ensino teológico, o trabalho
          com crianças e jovens, a evangelização e fundação de igrejas na Suécia
          e o envio de missionários para o exterior.
        </p>
        <p>
          <strong
            >Três aspectos caracterizaram a Missão de Örebro, desde o
            princípio:</strong
          >
        </p>
        <p>
          <strong>1)</strong> Forte ênfase em missões, sendo este o objetivo
          principal da coopera­ção entre as igrejas que integravam o quadro da
          missão.
        </p>
        <p>
          <strong>2)</strong> Aceitação do movimento carismático/pentecostal com
          incentivo à experiência de “batismo no Espírito Santo”
        </p>
        <p>
          <strong>3)</strong> A abertura para o ministério feminino. Desde as
          escolas bíblicas, iniciadas em 1892, e o Seminário Teológico, em 1908.
        </p>
        <p>
          Enquanto Ongman viveu, havia uma forte liderança que mantinha o
          movimento dentro do seio da Conven­ção Batista Sueca. Ongman fez parte
          da diretoria da Convenção por muitos anos e era respeitado pela
          liderança denominacional, apesar de sua linha carismática.
        </p>
        <p>
          Após sua morte, no en­tanto, não foi possível manter a socie­dade
          missionária dentro da Conven­ção e, em 1937, houve uma ruptura,
          dividindo a denominação em duas partes iguais. Metade das igrejas
          con­tinuaram com a Convenção Batista Sueca e a outra metade organizou
          definitivamente a Missão de Örebro como uma denominação própria.
        </p>
        <p>
          Ao longo dos anos, e principalmente nas últimas décadas, tem havido
          uma reaproximação entre as duas denominações e vários projetos co­muns
          estão sendo realizados.
        </p>
        <h2><strong>Campos Missionários</strong></h2>
        <p>
          Como vimos, a primeira tentativa, já em 1894, não deu certo. Em 1908,
          o casal Sjõgren é enviado para a In­dia, onde inicia o primeiro
          trabalho da missão que existe ainda hoje.
        </p>
        <p>
          Segue o envio de Erik Jansson para o Brasil em 1912, e de sua futura
          esposa Anna Malm e de outro missio­nário, Carl Svensson, em 1914. O
          próximo passo foi a República do Congo, na Africa, também no ano de
          1914, e a República Centro Africa­na em 1923.
        </p>
        <p>
          No ano de 1996, antes de fundir-se com duas outras missões, que
          mencio­naremos abaixo, a Missão de Örebro tinha 130 missionários em
          mais de 30 países, em todos os continentes do globo.
        </p>
        <h2><strong>Situação Atual</strong></h2>
        <p>
          Em 10 de janeiro de 1997, a Missão de Örebro fundiu-se com duas outras
          missões de origem batista e de linha pentecostal: a HF
          (Helgelsefórbundet – Aliança de Santi­ficação) e a FB (Fribaptisterna
          – Batis­ta Livre). As duas tinham surgido logo antes da Missão de
          Örebro, na segunda metade do século passado. A nova denominação,
          oriunda desta fu­são, chama-se internacionalmente de lnterAct, sendo
          que o nome na Suécia é Nybygget – Kristen Samverkan (Nova Construção –
          Cooperação Cristã).
        </p>
        <p>
          <img
            loading="lazy"
            class="aligncenter wp-image-7824 size-full"
            src="https://www.cibi.org.br/wp-content/uploads/2021/08/InterAct-1.png"
            alt=""
            width="397"
            height="289"
            srcset="
              https://www.cibi.org.br/wp-content/uploads/2021/08/InterAct-1.png         397w,
              https://www.cibi.org.br/wp-content/uploads/2021/08/InterAct-1-300x218.png 300w
            "
            sizes="(max-width: 397px) 100vw, 397px"
            pagespeed_url_hash="1739089751"
            onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
          />A InterAct agrega hoje 390 igrejas locais e soma em torno de 29.000
          membros. Possui 180 missionários em mais de 40 países e coopera com
          orga­nizações nacionais e internacionais em todos os continentes.
        </p>
        <h2><strong>Visão estratégica missionária</strong></h2>
        <p>
          A ênfase em missões transculturais tem sido uma das características
          mais fortes da Missão de Örebro durante toda a sua existência, e é
          algo mantido também na nova estrutura. A visão missionária é incutida
          nas crianças desde a Escola Dominical e passa pe­los diferentes grupos
          das igrejas lo­cais. Toda a igreja tem o seu envolvi­mento em missões
          e, geralmente, o seu próprio missionário.
        </p>
        <p>
          Por ocasião do Congresso Mundial de Evangelização em Lausanne, na
          Suíça, em 1974, houve grande partici­pação da missão antes, durante e
          após o evento. A declaração de Lausanne tornou-se o lema principal do
          trabalho nestes últimos 20 anos: “Toda a Igreja levando todo o
          Evangelho a todo Ho­mem em todo o Mundo”. A declara­ção inclui também
          princípios que norteiam a atividade missionária tanto evangelística
          como social.
        </p>
        <h2><strong>Adequando-se à realidade de nossos dias</strong></h2>
        <p>
          A InterAct tem trabalhado com a elaboração de uma estratégia
          missionária, que pode ser resumida nas seguintes palavras
        </p>
        <p>
          <strong>Visão Holística</strong><br />
          A atuação a favor de um evangelho integral onde todas as necessidades
          do ser humano são vistas, tanto na área espiritual como social,
          material, física, etc.
        </p>
        <p>
          <strong>Mudança de Foco</strong><br />
          Uma mudança de investimentos missionários, tanto de recursos
          financeiros como de obreiros, diminuindo a participação em campos onde
          já existe uma forte igreja nacional, e aumentando o envio para as
          áreas menos evangelizadas, como a Janela 10-40, onde há muitos povos
          não alcançados
        </p>
        <p>
          <strong>Globalização</strong><br />
          Acompanhando as tendências mundiais de aproximação entre os países e
          as culturas, trabalhando com boa tecnologia, onde é possível, e dando
          espaço para uma flexibilidade em termos de categoria de missionários.
          Isto inclui, por exem­plo, uma participação mais ativa dos chamados
          “fazedores de tenda”, pro­fissionais que vão para um país fecha­do ao
          evangelho ou carente de mais obreiros
        </p>
        <p>
          <strong>Cooperação</strong><br />
          Num reconhecimento da diversidade do corpo de Cristo e na necessária
          busca de parce­ria para alcançar o mundo com o evangelho
        </p>
        <p>&nbsp;</p>
        <p>
          <small
            >Parte deste artigo foi extraído da Revista da Escola Dominical
            (Pr.Bertil Ekström) do terceiro trimestre de 1998</small
          >
        </p>
      </div>
    </div>
  </div>
</div>
