<div class="container-fuild section-highlight my-5 py-5">
  <div class="container marketing">
    <div class="col-12">
      <h2 class="py-5 border-bottom display-2">Quem somos</h2>
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          <p>
            A Convenção das Igrejas Batistas Independentes hoje é uma
            organização que reúne mais de 400 igrejas autônomas além das
            centenas de congregações, espalhadas por todo o território nacional
            e também em 14 países, tanto na América Latina como na Europa,
            África e Janela 10/40.
          </p>
          <p>
            A CIBI é uma organização que se adapta ao modelo congregacional de
            administração, através do qual a assembleia geral é o órgão maior
            para todas as decisões, prestação de contas e relatórios de
            atividades e as igrejas membro têm o direito de enviar delegados, os
            quais podem votar e serem votados para cargos administrativos.
          </p>
          <p>
            A função primária das Igrejas filiadas à CIBI é promover o reino de
            Deus na terra, começando pelo Brasil visando alcançar cada povo,
            língua e nação, mediante ações evangelísticas realizadas tanto pela
            pregação do evangelho como pelo desenvolvimento de programas de ação
            social e educacional.
          </p>
          <p>
            Entendemos que a GRANDE COMISSÃO é tarefa da igreja local e a CIBI,
            através de sua Secretaria de Missões (SM), age como ponte de ligação
            entre a igreja que envia, o missionário que vai e o povo que recebe
            a ação.<br />
            Para que isso se realize, cada igreja membro da CIBI tem o
            compromisso de participar mensalmente do plano de cooperação, além
            do envolvimento voluntário nos demais projetos missionários, seja
            nos programas de adoção, como através de ofertas periódicas.
          </p>
          <p>
            Outra função da convenção é promover a fraternidade e a integração
            entre as igrejas com ela aliançadas, através da comunicação e
            realização de encontros de liderança, congressos variados,
            simpósios, cursos, intercambio e convenções.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
