<!--<iframe
  class="rounded"
  src="https://www.youtube.com/embed/Hp79P6_U2b0"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe>-->
<div class="container-fluid  section-highlight  my-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="py-5 border-bottom display-2">Ultimas pregações</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid  py-5 p-5">

  <div class="row">
    <div class="col">
      <img src="assets/celula.jpeg" alt="">
    </div>
    <div class="col">
      <img src="assets/hero-black-white.png" alt="">
    </div>
    <div class="col">
      <img src="assets/hero2.png" alt="">
    </div>
  </div>
</div>
