body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.section-highlight {
  background-image:  url("../src/assets/curve-line.svg");
  background-repeat: no-repeat;
  background-size: 1440px 300px;
  background-position: top right;
}

.cursor-pointer {
  cursor: pointer;
}

.form-group.required .form-label:after {
  content:"*";
  color:red;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
